/*fuentes*/

@font-face {
    font-family: "nevis";
    src: url("fonts/nevis.eot");
    src: url("fonts/nevis.eot?#iefix") format("embedded-opentype"),
        url("fonts/nevis.woff") format("woff"),
        url("fonts/nevis.ttf") format("truetype"),
        url("fonts/nevis.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "fjalla";
    src: url("fonts/FjallaOne-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "icons";
    src: url("fonts/websymbols-regular-webfont.svg#WebSymbolsRegular") format("svg"),
        ("fonts/websymbols-regular-webfont.eot");
    src: url("fonts/websymbols-regular-webfont.eot?#iefix") format("embedded-opentype"),
        url("fonts/websymbols-regular-webfont.woff") format("woff"),
        url("fonts/websymbols-regular-webfont.ttf") format("truetype");
        font-weight: normal;
    font-style: normal;


    font-weight: normal;
    font-style: normal;
}


/*fuentes*/


body {
    background-image: url(../img/paven.png);
}



/*formularios*/

.input-form {
    border: 1px solid #c9c9c9;
    box-shadow: 0px 0px 2px #cccccc inset;
    background: white;
    padding: 1px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: gray;
    transition: all 300ms;
}

.input-form:focus {
    border: 1px solid #70b231;
    color: black;
}

/* estilos botones*/
.btns {
    display: block;
    border-radius: 2px;
    width: 60px;
    padding: 3px;
    background-color: #70b231;
    border: 1px solid green;
    cursor: pointer;
    color: white;

}

.btns:hover {
    box-shadow: 0px 0px 2px grey;

}

.btns:active {
    box-shadow: 0px 0px 3px grey inset;
    text-shadow: 0px 0px 1px #cccccc;

}

/*estilos links*/
a {
    color: #529125;
    text-decoration: none;
}

a:hover {
    color: #285616
}

a:visited {
    color: #529125;
}

#header {
    min-width: 1024px;
    width: 100%;
    height: 250px;
    margin: 0px auto;
}

#header a {
    text-decoration: none;
}

#header #logotipo {
    width: 770px;
    margin: 0 auto;
    padding-top: 20px;
}

#header #logotipo img {
    display: block;
    text-align: center;
    margin: 0px auto;
    width: 140px;
}

#header h1 {
    text-align: center;
    font-size: 40px;
    color: #70b231;
    font-family: "nevis";
    letter-spacing: 4px;
    margin-top: 10px;
    text-shadow: 0px 2px 1px #333333;
    transition: all 300ms;
}

#header h1:hover {
    text-shadow: 0px 2px 1px #333333, 0px 0px 4px #70b231;
}


#header h1 a {
    color: #70b231;

}

/* estilos menù*/

#nav {
    width: 100%;
    background-color: #333333;
    color: white;
    height: 40px;
    font-family: sans-serif, helvetica, arial;
    font-size: 14px;
    box-shadow: 0px 0px 2px gray;
}

#nav ul {
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
    width: 1090px;
}

#nav>ul>li {
    line-height: 40px;
    float: left;
    border-right: 1px solid gray;
    transition: all 300ms;
}

#nav>ul>li>a {
    color: white;
    text-decoration: none;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
}

#nav>ul>li>a:first-child {
    border-left: 1px solid gray;
}

#nav>ul>li:hover {
    background-color: #70b231;
    box-shadow: 0px 0px 4px green inset;
}

/* estilos menù desplegable*/

#nav>ul>li>ul {
    display: none;
    position: absolute;
    width: 160px;
    box-shadow: 0px 2px 2px gray;
    z-index: 1;
    padding:0px;

}

#nav>ul>li:hover>ul {
    display: block;
}

#nav>ul>li:hover>ul>li {
    background-color: #f2f1f0;
    border-bottom: 1px solid #d6d6d6;
    padding: 8px;
    line-height: 25px;
    font-size: 13px;
    transition: all 300ms;
}

#nav>ul>li:hover>ul>li a {
    columns: #666666;
    text-decoration: none;


}

#nav>ul>li:hover>ul>li:hover {
    background: rgb(238, 237, 237);
}

/*estilos aside*/
#content {
    width: 1250px;
    min-height: 1100px;
    margin: 0px auto;
    font-family: sans-serif,Arial,Helvetica;

}

/*barra lateral*/

#aside,
#frase {
    width: 200px;
    float: left;
    margin: 30px;
    background-color: white;
    border: 1px solid #cccccc;
    box-shadow: 0px 2px 2px #cccccc;
    font-family: sans-serif, Arial, Helvetica;
}

#frase {
    width: 180px;
    font-family: sans-serif, Arial, Helvetica;
    font-size: 15px;
    padding: 10px;
    float: left;
}

#aside .widget {
    display: block;
    width: 180px;
    margin: 5px auto;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    border-bottom: 1px dashed #333333;
}

#aside .widget:last-child {
    margin-bottom: 20px;
}

#aside h3 {
    display: block;
    color: #333333;
    width: 100%;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    background: #f3f2f2;
    border: 1px solid #cccccc;
    border-left: none;
    border-right: none;
    margin-bottom: 15px;
}

/*formularios barra lateral*/

#aside div label,
#aside div .input-form,
#aside div a {
    display: block;
    width: 95%;
    margin-top: 4px;
    margin-bottom: 3px;
}

#aside .btns {

    margin-top: 5px;
    margin-bottom: 10px;
}

#aside input,
#aside label {
    margin: 0 auto;
    text-align: center;
}

#aside li {
    margin-top: 8px;
    margin-bottom: 5px;
    list-style: square;
}

.red {
    color: #9b2422 !important;

}

.blue {
    color: #0c73f2 !important;
}

.orange {
    color: #d69d2a !important;
}

/*CONTENIDO CENTRAL SECCIONES */

.contenedor-section {
    float: right;
    width: 74%;
    font-family: sans-serif, Arial, Helvetica;
    margin-right: 50px;
}

.contenedor-section .titulo {
    font-size: 24px;
    margin-bottom: 5px;
    font-family: 'fjalla';
    font-weight: normal;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #cccccc;
    margin-top: -20px;

}

.contenedor-section section {
    margin-top: 40px;
    background-color: white;
    padding: 20px;
    border: 1px solid #cccc;
    box-shadow: 0px 0px 4px #c9c9c9;
    color: #333333;
    font-size: 16px;
    overflow: hidden;
}

.contenedor-section .articulo {
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.contenedor-section .date {
    color: #c9c9c9;
    font-size: 14px;

}



.contenedor-section .stickerOne,
.stickerTwo {
    position: absolute;
    margin-top: -38px;
    z-index: 0;
}

.stickerTwo {
    margin-left: 67%;
}

.icon {
    font-family: "icons";
    float: left;
    margin-right: 5px;
    margin-top: -1px;
}
.clearfix{
float:none;
clear: both;
}

.history{
    float: right;
    margin-top: 20px;
    margin-right: 50px;
    
}
footer{
width: 100%;
margin:0px auto;
text-align: center;
margin-top: 40px;
background-color: #333333;
padding-top: 10px;
padding-bottom: 10px;
color:white;
font-family: sans-serif;
font-size: 14px;
box-shadow: 0px 0px 2px grey;


}